CONFIG_BUILD_ARM_APPENDED_DTB_IMAGE_NAMES="checkers_proto checkers_hvt checkers_evt checkers_dvt checkers_pvt"
CONFIG_EXTRA_FIRMWARE="i2s_to_spi_4ch_v193.bin"
CONFIG_GATING=y
CONFIG_ARCH_MTK_PROJECT="checkers"
CONFIG_THERMAL_CHECKERS=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="ov9734_mipi_raw"
CONFIG_CUSTOM_KERNEL_LCM="st7701s_wsvga_dsi_vdo_checkers"
