CONFIG_BUILD_ARM_APPENDED_DTB_IMAGE_NAMES="cronos_proto cronos_hvt cronos_evt cronos_dvt cronos_dvt_3_1 cronos_dvt_3_2 cronos_dvt_3_3 cronos_pvt cronos_pvt_4_1 cronos_pvt_4_2 cronos_pvt_4_3"
CONFIG_EXTRA_FIRMWARE="i2s_to_spi_4ch_v193.bin i2s_to_spi_4ch_v208.bin"
CONFIG_CONNECTOR=y
CONFIG_ARCH_MTK_PROJECT="cronos"
CONFIG_THERMAL_CRONOS=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="ov02b10_mipi_raw"
CONFIG_CUSTOM_KERNEL_LCM="st7701s_wsvga_dsi_vdo_cronos"
CONFIG_CUST_BRI_SUPPORT=y
CONFIG_KEYBOARD_GPIO_PRIVACY=y
CONFIG_SND_SOC_MAX98396=y
CONFIG_SND_SOC_RT5616E=y
CONFIG_SND_SOC_TAS5805M=y
