menu "Mediatek Peripherals "
depends on ARM || ARM64

config MTK_PLATFORM
	string "MTK platform name"

config ARCH_MTK_PROJECT
	string "ARCH_MTK_PROJECT"

source "drivers/misc/mediatek/btif/Kconfig"
source "drivers/misc/mediatek/connectivity/Kconfig"

endmenu  # CONN
