CONFIG_ARCH_MEDIATEK=y

CONFIG_COMMON_CLK_MT8163=y
CONFIG_COMMON_CLK_MT8163_AUDSYS=y
CONFIG_COMMON_CLK_MT8163_IMGSYS=y
CONFIG_COMMON_CLK_MT8163_MFGCFG=y
CONFIG_COMMON_CLK_MT8163_MMSYS=y
CONFIG_COMMON_CLK_MT8163_VDECSYS=y
CONFIG_COMMON_CLK_MT8163_VENCSYS=y

CONFIG_PINCTRL_MTK=y
CONFIG_PINCTRL_MT8163=y

CONFIG_SND_SOC_MT8163=y
