# Audio
CONFIG_ACCDET_USE_VCAMAF_POWER=y

# Battery
CONFIG_MTK_MULTI_BAT_PROFILE_SUPPORT=y
CONFIG_MTK_INTERNAL_CHARGER_SUPPORT=y

# Camera
CONFIG_MTK_FRONT_CAMERA_ROT=y

# Device
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES="douglas"
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES_HVT="douglas_hvt"
CONFIG_ARCH_MTK_PROJECT="douglas"

# Display
CONFIG_CUSTOM_KERNEL_LCM="nt35521_wxga_dsi_vdo_douglas"
CONFIG_MTK_AAL_SUPPORT=y

# LEDs
# CONFIG_BACKLIGHT_SUPPORT_LP8557 is not set
CONFIG_VS_BACKLIGHT_COOLER=y
CONFIG_MTK_LEDS=y
# CONFIG_LEDS_LP855X is not set
CONFIG_ENABLE_BACKLIGHT_FACTOR=y

# Sensors
CONFIG_MTK_BMA253=y
CONFIG_MTK_JSA1214=y
# CONFIG_CUSTOM_KERNEL_GYROSCOPE is not set

# Thermal
CONFIG_THERMAL_DOUGLAS=y

# Touchscreen
CONFIG_TOUCHSCREEN_MTK_FT5526=y
