# Battery
CONFIG_MTK_BATTERY_CVR_SUPPORT=y
CONFIG_HIGH_BATTERY_VOLTAGE_SUPPORT=y

# Device
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES="giza"
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES_EVT="giza_evt"
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES_DVT="giza_dvt"
CONFIG_ARCH_MTK_PROJECT="giza"

# Display
CONFIG_CUSTOM_KERNEL_LCM="nt35521_wxga_dsi_vdo_giza"

# LEDs
CONFIG_BACKLIGHT_SUPPORT_LP8557=y
CONFIG_LEDS_LP855X=y

# Sensors
CONFIG_MTK_LSM6DS3=y
CONFIG_MTK_BMI160_ACC=y
CONFIG_MTK_BMI160_GYRO=y
CONFIG_MTK_STK3X1X_STK=y
CONFIG_CUSTOM_KERNEL_GYROSCOPE=y

# Thermal
CONFIG_THERMAL_GIZA=y
