// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2025 Ben Grisdale <bengris32@protonmail.ch>
 */

#include <dt-bindings/gpio/gpio.h>
#include "mt6757.dtsi"
#include "mt6351.dtsi"

/ {
	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_pins_default>;

		button-volume-down {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&pio 104 GPIO_ACTIVE_LOW>;
			wakeup-source;
			debounce-interval = <100>;
		};

		button-camera {
			label = "Camera";
			linux,code = <KEY_CAMERA>;
			gpios = <&pio 62 GPIO_ACTIVE_LOW>;
			wakeup-source;
			debounce-interval = <100>;
		};
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x20000000>;
	};

	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* Reserve memory for ATF + its ramdump region */
		atf-reserved-memory@50e00000 {
			reg = <0 0x50e00000 0 0x14000>;
			no-map;
		};

		atf-ramdump-memory@50e14000 {
			reg = <0 0x50e14000 0 0x2c000>;
			no-map;
		};

		/* Use the same ramoops region as downstream */
		ramoops@44410000 {
			compatible = "ramoops";
			reg = <0x0 0x44410000 0x0 0xe0000>;
			console-size = <0x10000>;
			record-size = <0x10000>;
		};
	};
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_default>;
	clock-frequency = <400000>;

	tusb320: typec@61 {
		compatible = "ti,tusb320";
		reg = <0x61>;
		interrupt-parent = <&pio>;
		interrupts = <2 IRQ_TYPE_LEVEL_LOW>;

		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			typec-power-opmode = "default";
			pd-disable;

			port {
				tusb320_hs_in: endpoint {
					remote-endpoint = <&usb_role_sw>;
				};
			};
		};
	};

	bq25896: charger@6b {
		compatible = "ti,bq25896";
		reg = <0x6b>;
		interrupt-parent = <&pio>;
		interrupts = <101 IRQ_TYPE_LEVEL_LOW>;
		ti,battery-regulation-voltage = <4352000>;
		ti,charge-current = <2048000>;
		ti,termination-current = <128000>;
		ti,precharge-current = <128000>;
		ti,minimum-sys-voltage = <3500000>;
		ti,boost-voltage = <4998000>;
		ti,boost-max-current = <1400000>;
		ti,use-ilim-pin;
		ti,thermal-regulation-threshold = <120>;

		bq25896_vbus: usb-otg-vbus { };
		bq25896_vsys: vsys { };
	};
};

&mmc0 {
	/* eMMC controller */
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	hs400-ds-delay = <0x14041>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	no-sd;
	no-sdio;
	non-removable;
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	vmmc-supply = <&mt6351_vemc_reg>;
	assigned-clocks = <&topckgen CLK_TOP_MSDC50_0_SEL>;
	assigned-clock-parents = <&topckgen CLK_TOP_MSDCPLL_D2>;
	status = "okay";
};

&mt6351_pmic {
	interrupts-extended = <&pio 150 IRQ_TYPE_LEVEL_HIGH>;
};

&ssusb {
	status = "okay";
	dr_mode = "otg";
	usb-role-switch;
	role-switch-default-mode = "host";
	maximum-speed = "high-speed";
	phys = <&u2port0 PHY_TYPE_USB2>;
	mediatek,u3p-dis-msk = <1>;
	vusb33-supply = <&mt6351_vusb33_reg>;
	vbus-supply = <&bq25896_vbus>;

	port {
		usb_role_sw: endpoint {
			remote-endpoint = <&tusb320_hs_in>;
		};
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_default>;
	status = "okay";
};

&usb_host {
	status = "okay";
	vusb33-supply = <&mt6351_vusb33_reg>;
};

&usb_phy {
	status = "okay";
};

&u2port0 {
	mediatek,eye-vrt = <3>;
	mediatek,eye-term = <1>;
	mediatek,eye-src = <1>;
	mediatek,pre-emphasis = <1>;
	mediatek,discth = <15>;
};

&pio {
	i2c1_pins_default: i2c1-pins {
		pins-bus {
			pinmux = <PINMUX_GPIO91__FUNC_SDA1>,
				 <PINMUX_GPIO94__FUNC_SCL1>;
			bias-disable;
		};
	};

	gpio_keys_pins_default: gpio-keys-pins {
		pins-keys {
			pinmux = <PINMUX_GPIO104__FUNC_KPCOL1>,
				     <PINMUX_GPIO62__FUNC_GPIO62>;
			input-enable;
		};
	};

	mmc0_pins_default: mmc0-pins-sdr {
		pins-dat {
			pinmux = <PINMUX_GPIO178__FUNC_MSDC0_DAT0>,
				 <PINMUX_GPIO181__FUNC_MSDC0_DAT1>,
				 <PINMUX_GPIO186__FUNC_MSDC0_DAT2>,
				 <PINMUX_GPIO187__FUNC_MSDC0_DAT3>,
				 <PINMUX_GPIO184__FUNC_MSDC0_DAT4>,
				 <PINMUX_GPIO182__FUNC_MSDC0_DAT5>,
				 <PINMUX_GPIO183__FUNC_MSDC0_DAT6>,
				 <PINMUX_GPIO188__FUNC_MSDC0_DAT7>,
				 <PINMUX_GPIO180__FUNC_MSDC0_CMD>;
			input-enable;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO179__FUNC_MSDC0_CLK>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO185__FUNC_MSDC0_RSTB>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
		};
	};

	mmc0_pins_uhs: mmc0-pins-uhs {
		pins-dat {
			pinmux = <PINMUX_GPIO178__FUNC_MSDC0_DAT0>,
				 <PINMUX_GPIO181__FUNC_MSDC0_DAT1>,
				 <PINMUX_GPIO186__FUNC_MSDC0_DAT2>,
				 <PINMUX_GPIO187__FUNC_MSDC0_DAT3>,
				 <PINMUX_GPIO184__FUNC_MSDC0_DAT4>,
				 <PINMUX_GPIO182__FUNC_MSDC0_DAT5>,
				 <PINMUX_GPIO183__FUNC_MSDC0_DAT6>,
				 <PINMUX_GPIO188__FUNC_MSDC0_DAT7>,
				 <PINMUX_GPIO180__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <8>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO179__FUNC_MSDC0_CLK>;
			drive-strength = <8>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-rst {
			pinmux = <PINMUX_GPIO185__FUNC_MSDC0_RSTB>;
			drive-strength = <8>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-ds {
			pinmux = <PINMUX_GPIO189__FUNC_MSDC0_DSL>;
			drive-strength = <4>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};
	};

	mmc1_pins_default: mmc1-pins-sdr {
		pins-dat {
			pinmux = <PINMUX_GPIO33__FUNC_MSDC1_DAT0>,
				 <PINMUX_GPIO35__FUNC_MSDC1_DAT1>,
				 <PINMUX_GPIO34__FUNC_MSDC1_DAT2>,
				 <PINMUX_GPIO31__FUNC_MSDC1_DAT3>,
				 <PINMUX_GPIO32__FUNC_MSDC1_CMD>;
			input-enable;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO30__FUNC_MSDC1_CLK>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cd {
			pinmux = <PINMUX_GPIO3__FUNC_GPIO3>;
			input-enable;
		};
	};

	mmc1_pins_uhs: mmc1-pins-uhs {
		pins-dat {
			pinmux = <PINMUX_GPIO33__FUNC_MSDC1_DAT0>,
				 <PINMUX_GPIO35__FUNC_MSDC1_DAT1>,
				 <PINMUX_GPIO34__FUNC_MSDC1_DAT2>,
				 <PINMUX_GPIO31__FUNC_MSDC1_DAT3>,
				 <PINMUX_GPIO32__FUNC_MSDC1_CMD>;
			input-enable;
			drive-strength = <8>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins-clk {
			pinmux = <PINMUX_GPIO30__FUNC_MSDC1_CLK>;
			drive-strength = <10>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_10>;
		};

		pins-cd {
			pinmux = <PINMUX_GPIO3__FUNC_GPIO3>;
			input-enable;
		};
	};

	uart0_pins_default: uart0-pins {
		pins-rx {
			pinmux = <PINMUX_GPIO105__FUNC_URXD0>;
			input-enable;
			bias-pull-up;
		};
		pins-tx {
			pinmux = <PINMUX_GPIO106__FUNC_UTXD0>;
		};
	};
};
