// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2025 Ben Grisdale <bengris32@protonmail.ch>
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/phy/phy.h>

#include <dt-bindings/clock/mediatek,mt6757-apmixedsys.h>
#include <dt-bindings/clock/mediatek,mt6757-camsys.h>
#include <dt-bindings/clock/mediatek,mt6757-imgsys.h>
#include <dt-bindings/clock/mediatek,mt6757-infracfg.h>
#include <dt-bindings/clock/mediatek,mt6757-mfgcfg.h>
#include <dt-bindings/clock/mediatek,mt6757-mmsys.h>
#include <dt-bindings/clock/mediatek,mt6757-pericfg.h>
#include <dt-bindings/clock/mediatek,mt6757-topckgen.h>
#include <dt-bindings/clock/mediatek,mt6757-vdecsys.h>
#include <dt-bindings/clock/mediatek,mt6757-vencsys.h>
#include <dt-bindings/gce/mediatek,mt6757-gce.h>
#include <dt-bindings/memory/mt6757-larb-port.h>
#include <dt-bindings/pinctrl/mt6757-pinfunc.h>
#include <dt-bindings/power/mediatek,mt6757-power-controller.h>
#include <dt-bindings/reset/mediatek,mt6757-infracfg.h>
#include <dt-bindings/reset/mediatek,mt6757-mfgcfg.h>
#include <dt-bindings/reset/mediatek,mt6757-mmsys.h>
#include <dt-bindings/reset/mediatek,mt6757-vdecsys.h>
#include <dt-bindings/reset/mediatek,mt6757-wdt.h>

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	interrupt-parent = <&sysirq>;

	aliases {
		ovl0 = &ovl0;
		ovl0_2l = &ovl0_2l;
		rdma0 = &rdma0;
		color0 = &color0;
		ccorr = &ccorr;
		aal0 = &aal0;
		gamma = &gamma;
		dither0 = &dither0;
		ufoe = &ufoe;
		dsi0 = &dsi0;
		mutex = &mutex;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x000>;
			enable-method = "psci";
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x001>;
			enable-method = "psci";
		};

		cpu2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x002>;
			enable-method = "psci";
		};

		cpu3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x003>;
			enable-method = "psci";
		};

		cpu4: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x100>;
			enable-method = "psci";
		};

		cpu5: cpu@101 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x101>;
			enable-method = "psci";
		};

		cpu6: cpu@102 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x102>;
			enable-method = "psci";
		};

		cpu7: cpu@103 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x103>;
			enable-method = "psci";
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};

				core1 {
					cpu = <&cpu1>;
				};

				core2 {
					cpu = <&cpu2>;
				};

				core3 {
					cpu = <&cpu3>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu4>;
				};

				core1 {
					cpu = <&cpu5>;
				};

				core2 {
					cpu = <&cpu6>;
				};

				core3 {
					cpu = <&cpu7>;
				};
			};
		};
	};

	psci {
		compatible = "arm,psci-0.2";
		method = "smc";
	};

	clk13m: oscillator-13m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <13000000>;
		clock-output-names = "clk13m";
	};

	clk26m: oscillator-26m {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <26000000>;
		clock-output-names = "clk26m";
	};

	clk32k: oscillator-32k {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "clk32k";
	};

	pmu {
		compatible = "arm,cortex-a53-pmu";
		interrupts = <GIC_SPI 8 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_SPI 9 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_SPI 10 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_SPI 11 IRQ_TYPE_LEVEL_LOW>;
		interrupt-affinity = <&cpu0>, <&cpu1>, <&cpu2>, <&cpu3>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupt-parent = <&gic>;
		interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>;
		clock-frequency = <13000000>;
		arm,no-tick-in-suspend;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		gic: interrupt-controller@c000000 {
			compatible = "arm,gic-v3";
			reg = <0 0x0c000000 0 0x40000>, /* GICD */
			      <0 0x0c200000 0 0x200000>; /* GICR */
			#interrupt-cells = <3>;
			#redistributor-regions = <1>;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-parent = <&gic>;
			interrupt-controller;
		};

		topckgen: clock-controller@10000000 {
			compatible = "mediatek,mt6757-topckgen", "syscon";
			reg = <0 0x10000000 0 0x1000>;
			#clock-cells = <1>;
		};

		infracfg: clock-controller@10001000 {
			compatible = "mediatek,mt6757-infracfg", "syscon";
			reg = <0 0x10001000 0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		pericfg: syscon@10003000 {
			compatible = "mediatek,mt6757-pericfg", "syscon";
			reg = <0 0x10003000 0 0x1000>;
		};

		pio: pinctrl@10005000 {
			compatible = "mediatek,mt6757-pinctrl";
			reg = <0 0x10005000 0 0x1000>,
			      <0 0x10002000 0 0x200>,
			      <0 0x10002200 0 0x200>,
			      <0 0x10002400 0 0x200>,
			      <0 0x10002600 0 0x200>,
			      <0 0x10002800 0 0x200>,
			      <0 0x10002a00 0 0x200>,
			      <0 0x1000b000 0 0x1000>;
			reg-names = "gpio", "iocfg0", "iocfg1", "iocfg2",
				    "iocfg3", "iocfg4", "iocfg5", "eint";
			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&pio 0 0 193>;
			interrupts = <GIC_SPI 155 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#interrupt-cells = <2>;
		};

		scpsys: syscon@10006000 {
			compatible = "syscon", "simple-mfd";
			reg = <0 0x10006000 0 0x1000>;
			#power-domain-cells = <1>;

			/* System Power Manager */
			spm: power-controller {
				compatible = "mediatek,mt6757-power-controller";
				#address-cells = <1>;
				#size-cells = <0>;
				#power-domain-cells = <1>;

				/* Power domains of the SoC */
				power-domain@MT6757_POWER_DOMAIN_AUDIO {
					reg = <MT6757_POWER_DOMAIN_AUDIO>;
					#power-domain-cells = <0>;
				};

				power-domain@MT6757_POWER_DOMAIN_CAM {
					reg = <MT6757_POWER_DOMAIN_CAM>;
					clocks = <&topckgen CLK_TOP_MM_SEL>;
					clock-names = "mm";
					#power-domain-cells = <0>;
				};

				power-domain@MT6757_POWER_DOMAIN_CONN {
					reg = <MT6757_POWER_DOMAIN_CONN>;
					mediatek,infracfg = <&infracfg>;
					#power-domain-cells = <0>;
				};

				power-domain@MT6757_POWER_DOMAIN_DISP {
					reg = <MT6757_POWER_DOMAIN_DISP>;
					clocks = <&topckgen CLK_TOP_MM_SEL>;
					clock-names = "mm";
					mediatek,infracfg = <&infracfg>;
					#power-domain-cells = <0>;
				};

				power-domain@MT6757_POWER_DOMAIN_ISP {
					reg = <MT6757_POWER_DOMAIN_ISP>;
					clocks = <&topckgen CLK_TOP_MM_SEL>;
					clock-names = "mm";
					#power-domain-cells = <0>;
				};

				power-domain@MT6757_POWER_DOMAIN_MFG_ASYNC {
					reg = <MT6757_POWER_DOMAIN_MFG_ASYNC>;
					clocks = <&topckgen CLK_TOP_MFG_SEL>;
					clock-names = "mfg";
					#address-cells = <1>;
					#size-cells = <0>;
					#power-domain-cells = <1>;

					power-domain@MT6757_POWER_DOMAIN_MFG {
						reg = <MT6757_POWER_DOMAIN_MFG>;
						#address-cells = <1>;
						#size-cells = <0>;
						#power-domain-cells = <1>;
						mediatek,infracfg = <&infracfg>;

						power-domain@MT6757_POWER_DOMAIN_MFG_CORE0 {
							reg = <MT6757_POWER_DOMAIN_MFG_CORE0>;
							#power-domain-cells = <0>;
						};

						power-domain@MT6757_POWER_DOMAIN_MFG_CORE1 {
							reg = <MT6757_POWER_DOMAIN_MFG_CORE1>;
							#power-domain-cells = <0>;
						};
					};
				};

				power-domain@MT6757_POWER_DOMAIN_VDE {
					reg = <MT6757_POWER_DOMAIN_VDE>;
					clocks = <&topckgen CLK_TOP_MM_SEL>,
						     <&topckgen CLK_TOP_VDEC_SEL>;
					clock-names = "mm", "vdec";
					#power-domain-cells = <0>;
				};

				power-domain@MT6757_POWER_DOMAIN_VEN {
					reg = <MT6757_POWER_DOMAIN_VEN>;
					clocks = <&topckgen CLK_TOP_MM_SEL>,
						     <&topckgen CLK_TOP_VENC_SEL>;
					clock-names = "mm", "venc";
					#power-domain-cells = <0>;
				};
			};
		};

		watchdog: watchdog@10007000 {
			compatible = "mediatek,mt6757-wdt";
			reg = <0 0x10007000 0 0x100>;
			#reset-cells = <1>;
		};

		timer: timer@10008000 {
			compatible = "mediatek,mt6757-timer", "mediatek,mt6577-timer";
			reg = <0 0x10008000 0 0x1000>;
			interrupts = <GIC_SPI 154 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk13m>, <&clk32k>;
		};

		apmixed: clock-controller@1000c000 {
			compatible = "mediatek,mt6757-apmixedsys";
			reg = <0 0x1000c000 0 0x1000>;
			#clock-cells = <1>;
		};

		fhctl: clock-controller@1000ce00 {
			compatible = "mediatek,mt6757-fhctl";
			reg = <0 0x1000ce00 0 0x200>;
			status = "disabled";
		};

		pwrap: pwrap@1000d000 {
			compatible = "mediatek,mt6757-pwrap", "mediatek,mt6797-pwrap";
			reg = <0 0x1000d000 0 0x1000>;
			reg-names = "pwrap";
			interrupts = <GIC_SPI 163 IRQ_TYPE_LEVEL_HIGH>;
			resets = <&infracfg MT6757_INFRA_RST2_PMIC_WRAP>;
			reset-names = "pwrap";
			clocks = <&topckgen CLK_TOP_PMICSPI_SEL>, <&clk26m>;
			clock-names = "spi", "wrap";
		};

		sysirq: interrupt-controller@10200620 {
			compatible = "mediatek,mt6757-sysirq", "mediatek,mt6577-sysirq";
			reg = <0 0x10200620 0 0x20>, /* INT_POL_CTL[0-7] */
			      <0 0x10200690 0 0x30>; /* INT_POL_CTL[8-19] */
			#interrupt-cells = <3>;
			interrupt-parent = <&gic>;
			interrupt-controller;
		};
	
		systimer: timer@10200670 {
			compatible = "mediatek,mt6757-systimer", "mediatek,mt6795-systimer";
			reg = <0 0x10200670 0 0x10>;
			interrupts = <GIC_SPI 64 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clk13m>;
			clock-names = "clk13m";
		};

		iommu: iommu@10205000 {
			compatible = "mediatek,mt6757-m4u";
			reg = <0 0x10205000 0 0x1000>;
			interrupts = <GIC_SPI 147 IRQ_TYPE_LEVEL_LOW>;
			mediatek,larbs = <&larb0 &larb1 &larb2 &larb3 &larb4 &larb5>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			#iommu-cells = <1>;
		};

		gce: mailbox@10212000 {
			compatible = "mediatek,mt6757-gce", "mediatek,mt8173-gce";
			reg = <0 0x10212000 0 0x1000>;
			interrupts = <GIC_SPI 143 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_GCE>;
			clock-names = "gce";
			#mbox-cells = <2>;
		};

		mipi_tx0: dsi-phy@10215000 {
			compatible = "mediatek,mt6757-mipi-tx", "mediatek,mt8173-mipi-tx";
			reg = <0 0x10215000 0 0x1000>;
			clocks = <&clk26m>;
			clock-output-names = "mipi_tx0_pll";
			#clock-cells = <0>;
			#phy-cells = <0>;
			status = "disabled";
		};

		auxadc: adc@11001000 {
			compatible = "mediatek,mt6757-auxadc", "mediatek,mt6765-auxadc";
			reg = <0 0x11001000 0 0x1000>;
			clocks = <&infracfg CLK_INFRA_AUXADC>;
			clock-names = "main";
			#io-channel-cells = <1>;
			status = "disabled";
		};

		apdma: dma-controller@11000580 {
			compatible = "mediatek,mt6757-uart-dma", "mediatek,mt6577-uart-dma";
			reg = <0 0x11000580 0 0x80>,
			      <0 0x11000600 0 0x80>,
			      <0 0x11000680 0 0x80>,
			      <0 0x11000700 0 0x80>;
			interrupts = <GIC_SPI 107 IRQ_TYPE_LEVEL_LOW>,
				     <GIC_SPI 108 IRQ_TYPE_LEVEL_LOW>,
				     <GIC_SPI 109 IRQ_TYPE_LEVEL_LOW>,
				     <GIC_SPI 110 IRQ_TYPE_LEVEL_LOW>;
			dma-requests = <4>;
			clocks = <&infracfg CLK_INFRA_AP_DMA>;
			clock-names = "apdma";
			#dma-cells = <1>;
		};

		uart0: serial@11002000 {
			compatible = "mediatek,mt6757-uart", "mediatek,mt6577-uart";
			reg = <0 0x11002000 0 0x400>;
			interrupts = <GIC_SPI 91 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_UART0>, <&infracfg CLK_INFRA_AP_DMA>;
			clock-names = "baud", "bus";
			dmas = <&apdma 0 &apdma 1>;
			dma-names = "tx", "rx";
			status = "disabled";
		};

		uart1: serial@11003000 {
			compatible = "mediatek,mt6757-uart", "mediatek,mt6577-uart";
			reg = <0 0x11003000 0 0x400>;
			interrupts = <GIC_SPI 92 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_UART1>, <&infracfg CLK_INFRA_AP_DMA>;
			clock-names = "baud", "bus";
			dmas = <&apdma 2 &apdma 3>;
			dma-names = "tx", "rx";
			status = "disabled";
		};

		i2c0: i2c@11007000 {
			compatible = "mediatek,mt6757-i2c";
			reg = <0 0x11007000 0 0x1000>, <0 0x11000100 0 0x80>;
			interrupts = <GIC_SPI 84 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_I2C0>, <&infracfg CLK_INFRA_AP_DMA>;
			clock-names = "main", "dma";
			clock-div = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c1: i2c@11008000 {
			compatible = "mediatek,mt6757-i2c";
			reg = <0 0x11008000 0 0x1000>, <0 0x11000180 0 0x80>;
			interrupts = <GIC_SPI 85 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_I2C1>,
				 <&infracfg CLK_INFRA_AP_DMA>,
				 <&infracfg CLK_INFRA_I2C1_ARBITER>;
			clock-names = "main", "dma", "arb";
			clock-div = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c2: i2c@11009000 {
			compatible = "mediatek,mt6757-i2c";
			reg = <0 0x11009000 0 0x1000>, <0 0x11000200 0 0x80>;
			interrupts = <GIC_SPI 86 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_I2C2>,
				 <&infracfg CLK_INFRA_AP_DMA>,
				 <&infracfg CLK_INFRA_I2C2_ARBITER>;
			clock-names = "main", "dma", "arb";
			clock-div = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		pwm0: pwm@1100e000 {
			compatible = "mediatek,mt6757-disp-pwm", "mediatek,mt8173-disp-pwm";
			reg = <0 0x1100e000 0 0x1000>;
			#pwm-cells = <2>;
			clocks = <&topckgen CLK_TOP_DISP_PWM_SEL>, <&infracfg CLK_INFRA_DISP_PWM>;
			clock-names = "main", "mm";
			status = "disabled";
		};

		i2c3: i2c@1100f000 {
			compatible = "mediatek,mt6757-i2c";
			reg = <0 0x1100f000 0 0x1000>, <0 0x11000280 0 0x80>;
			interrupts = <GIC_SPI 87 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_I2C3>, <&infracfg CLK_INFRA_AP_DMA>;
			clock-names = "main", "dma";
			clock-div = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c4: i2c@11011000 {
			compatible = "mediatek,mt6757-i2c";
			reg = <0 0x11011000 0 0x1000>, <0 0x11000300 0 0x80>;
			interrupts = <GIC_SPI 88 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_I2C4>, <&infracfg CLK_INFRA_AP_DMA>;
			clock-names = "main", "dma";
			clock-div = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c5: i2c@11016000 {
			compatible = "mediatek,mt6757-i2c";
			reg = <0 0x11016000 0 0x1000>, <0 0x11000480 0 0x80>;
			interrupts = <GIC_SPI 269 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_I2C5>,
				 <&infracfg CLK_INFRA_AP_DMA>,
				 <&infracfg CLK_INFRA_I2C5_ARBITER>;
			clock-names = "main", "dma";
			clock-div = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		mmc0: mmc@11230000 {
			compatible = "mediatek,mt6757-mmc";
			reg = <0 0x11230000 0 0x1000>;
			interrupts = <GIC_SPI 79 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&infracfg CLK_INFRA_MSDC0>,
				 <&topckgen CLK_TOP_MSDC50_0_HCLK_SEL>,
				 <&topckgen CLK_TOP_MSDC50_0_SEL>;
			clock-names = "source", "hclk", "source_cg";
			resets = <&infracfg MT6757_INFRA_RST0_MSDC0>;
			reset-names = "hrst";
			status = "disabled";
		};

		mmc1: mmc@11240000 {
			compatible = "mediatek,mt6757-mmc";
			reg = <0 0x11240000 0 0x1000>;
			interrupts = <GIC_SPI 80 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&topckgen CLK_TOP_MSDC30_1_SEL>,
				 <&topckgen CLK_TOP_AXI_SEL>,
				 <&infracfg CLK_INFRA_MSDC1>;
			clock-names = "source", "hclk", "source_cg";
			resets = <&infracfg MT6757_INFRA_RST0_MSDC1>;
			reset-names = "hrst";
			status = "disabled";
		};

		mmc2: mmc@11250000 {
			compatible = "mediatek,mt6757-mmc";
			reg = <0 0x11250000 0 0x1000>;
			interrupts = <GIC_SPI 81 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&topckgen CLK_TOP_MSDC30_2_SEL>,
				 <&topckgen CLK_TOP_AXI_SEL>,
				 <&infracfg CLK_INFRA_MSDC2>;
			clock-names = "source", "hclk", "source_cg";
			resets = <&infracfg MT6757_INFRA_RST0_MSDC2>;
			reset-names = "hrst";
			status = "disabled";
		};

		ssusb: usb@11271000 {
			compatible = "mediatek,mt6757-mtu3", "mediatek,mtu3";
			reg = <0 0x11271000 0 0x3000>, <0 0x11280700 0 0x0100>;
			reg-names = "mac", "ippc";
			interrupts = <GIC_SPI 72 IRQ_TYPE_LEVEL_LOW>;
			phys = <&u2port1 PHY_TYPE_USB2>, <&u3port0 PHY_TYPE_USB3>;
			clocks = <&topckgen CLK_TOP_USB_TOP_SEL>,
				 <&infracfg CLK_INFRA_SSUSB_TOP>,
				 <&topckgen CLK_TOP_SSUSB_TOP_XHCI_SEL>;
			clock-names = "sys_ck", "ref_ck", "xhci_ck";
			mediatek,syscon-wakeup = <&pericfg 0x420 1>;
			wakeup-source;
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;
			status = "disabled";

			usb_host: usb@11270000 {
				compatible = "mediatek,mt6757-xhci",
					     "mediatek,mtk-xhci";
				reg = <0 0x11270000 0 0x1000>;
				reg-names = "mac";
				interrupts = <GIC_SPI 123 IRQ_TYPE_LEVEL_LOW>;
				clocks = <&topckgen CLK_TOP_USB_TOP_SEL>,
					 <&infracfg CLK_INFRA_SSUSB_TOP>,
					 <&topckgen CLK_TOP_SSUSB_TOP_XHCI_SEL>;
				clock-names = "sys_ck", "ref_ck", "xhci_ck";
				status = "disabled";
			};
		};

		usb_phy: t-phy@11290000 {
			compatible = "mediatek,mt6757-tphy", "mediatek,generic-tphy-v1";
			reg = <0 0x11290000 0 0x800>;
			#address-cells = <2>;
			#size-cells = <2>;
			ranges;
			status = "disabled";
	  
			u2port0: usb-phy@11290800 {
				reg = <0 0x11290800 0 0x100>;
				clocks = <&clk26m>;
				clock-names = "ref";
				#phy-cells = <1>;
			};

			u3port0: usb-phy@11290900 {
				reg = <0 0x11290900 0 0x700>;
				clocks = <&clk26m>;
				clock-names = "ref";
				#phy-cells = <1>;
			};
		};

		mfgcfg: clock-controller@13000000 {
			compatible = "mediatek,mt6757-mfgcfg", "syscon";
			reg = <0 0x13000000 0 0x1000>;
			power-domains = <&spm MT6757_POWER_DOMAIN_MFG_ASYNC>;
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		gpu: gpu@13040000 {
			compatible = "mediatek,mt6757-mali", "arm,mali-t880";
			reg = <0 0x13040000 0 0x4000>;
			interrupts = <GIC_SPI 247 IRQ_TYPE_LEVEL_LOW>,
				     <GIC_SPI 246 IRQ_TYPE_LEVEL_LOW>,
				     <GIC_SPI 245 IRQ_TYPE_LEVEL_LOW>;
			interrupt-names = "job", "mmu", "gpu";
			clocks = <&mfgcfg CLK_MFG_BG3D>;
			resets = <&mfgcfg MT6757_MFG_RST0_AXI>,
				 <&mfgcfg MT6757_MFG_RST0_G3D>;
			power-domains = <&spm MT6757_POWER_DOMAIN_MFG>;
			status = "disabled";
		};

		mmsys: syscon@14000000 {
			compatible = "mediatek,mt6757-mmsys", "syscon";
			reg = <0 0x14000000 0 0x1000>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			#clock-cells = <1>;
			#reset-cells = <1>;
			mboxes = <&gce 0 CMDQ_THR_PRIO_HIGHEST>,
				 <&gce 1 CMDQ_THR_PRIO_HIGHEST>;
			mediatek,gce-client-reg = <&gce SUBSYS_1400XXXX 0 0x1000>;
		};

		ovl0: ovl@1400b000 {
			compatible = "mediatek,mt6757-disp-ovl", "mediatek,mt8173-disp-ovl";
			reg = <0 0x1400b000 0 0x1000>;
			interrupts = <GIC_SPI 188 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_OVL0>;
			iommus = <&iommu M4U_PORT_DISP_OVL0>;
			mediatek,gce-client-reg = <&gce SUBSYS_1400XXXX 0xb000 0x1000>;
			resets = <&mmsys MT6757_MMSYS_SW0_RST_B_DISP_OVL0>;
		};

		ovl0_2l: ovl@1400d000 {
			compatible = "mediatek,mt6757-disp-ovl-2l";
			reg = <0 0x1400d000 0 0x1000>;
			interrupts = <GIC_SPI 190 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_OVL0_2L>;
			/* LARB can be changed by MMSYS_SMI_LARB_SEL */
			iommus = <&iommu M4U_PORT_DISP_2L_OVL0_LARB4>;
			mediatek,gce-client-reg = <&gce SUBSYS_1400XXXX 0xd000 0x1000>;
			resets = <&mmsys MT6757_MMSYS_SW0_RST_B_DISP_OVL0_2L>;
		};

		rdma0: rdma@1400f000 {
			compatible = "mediatek,mt6757-disp-rdma", "mediatek,mt8173-disp-rdma";
			reg = <0 0x1400f000 0 0x1000>;
			interrupts = <GIC_SPI 192 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_RDMA0>;
			iommus = <&iommu M4U_PORT_DISP_RDMA0>;
			mediatek,gce-client-reg = <&gce SUBSYS_1400XXXX 0xf000 0x1000>;
		};

		color0: color@14014000 {
			compatible = "mediatek,mt6757-disp-color", "mediatek,mt8173-disp-color";
			reg = <0 0x14014000 0 0x1000>;
			interrupts = <GIC_SPI 197 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_COLOR0>;
			mediatek,gce-client-reg = <&gce SUBSYS_1401XXXX 0x4000 0x1000>;
		};

		ccorr: ccorr@14016000 {
			compatible = "mediatek,mt6757-disp-ccorr", "mediatek,mt8183-disp-ccorr";
			reg = <0 0x14016000 0 0x1000>;
			interrupts = <GIC_SPI 199 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_CCORR0>;
			mediatek,gce-client-reg = <&gce SUBSYS_1401XXXX 0x6000 0x1000>;
		};

		aal0: aal@14018000 {
			compatible = "mediatek,mt6757-disp-aal", "mediatek,mt8183-disp-aal";
			reg = <0 0x14018000 0 0x1000>;
			interrupts = <GIC_SPI 201 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_AAL0>;
			mediatek,gce-client-reg = <&gce SUBSYS_1401XXXX 0x8000 0x1000>;
		};

		gamma: gamma@1401a000 {
			compatible = "mediatek,mt6757-disp-gamma", "mediatek,mt8183-disp-gamma";
			reg = <0 0x1401a000 0 0x1000>;
			interrupts = <GIC_SPI 203 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_GAMMA0>;
			mediatek,gce-client-reg = <&gce SUBSYS_1401XXXX 0xa000 0x1000>;
		};

		dither0: dither@1401d000 {
			compatible = "mediatek,mt6757-disp-dither", "mediatek,mt8183-disp-dither";
			reg = <0 0x1401d000 0 0x1000>;
			interrupts = <GIC_SPI 206 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_DITHER0>;
			mediatek,gce-client-reg = <&gce SUBSYS_1401XXXX 0xd000 0x1000>;
		};

		ufoe: ufoe@1401f000 {
			compatible = "mediatek,mt6757-disp-ufoe", "mediatek,mt8173-disp-ufoe";
			reg = <0 0x1401f000 0 0x1000>;
			interrupts = <GIC_SPI 208 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DISP_UFOE>;
			mediatek,gce-client-reg = <&gce SUBSYS_1401XXXX 0xf000 0x1000>;
		};

		dsi0: dsi@14022000 {
			compatible = "mediatek,mt6757-dsi", "mediatek,mt8173-dsi";
			reg = <0 0x14022000 0 0x1000>;
			interrupts = <GIC_SPI 210 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_DSI0_ENGINE>,
				 <&mmsys CLK_MM_DSI0_DIGITAL>,
				 <&mipi_tx0>;
			clock-names = "engine", "digital", "hs";
			phys = <&mipi_tx0>;
			phy-names = "dphy";
			resets = <&mmsys MT6757_MMSYS_SW1_RST_B_DSI0>;
			status = "disabled";
		};

		mutex: mutex@14025000 {
			compatible = "mediatek,mt6757-disp-mutex";
			reg = <0 0x14025000 0 0x1000>;
			interrupts = <GIC_SPI 177 IRQ_TYPE_LEVEL_LOW>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			mediatek,gce-events = <CMDQ_EVENT_MUTEX0_STREAM_EOF>,
					      <CMDQ_EVENT_MUTEX1_STREAM_EOF>;
			mediatek,gce-client-reg = <&gce SUBSYS_1402XXXX 0x5000 0x1000>;
		};

		larb0: larb@14026000 {
			compatible = "mediatek,mt6757-smi-larb";
			reg = <0 0x14026000 0 0x1000>;
			clocks = <&mmsys CLK_MM_SMI_COMMON>, <&mmsys CLK_MM_SMI_LARB0>;
			clock-names = "apb", "smi";
			mediatek,smi = <&smi_common>;
			mediatek,larb-id = <0>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
		};

		larb4: larb@14027000 {
			compatible = "mediatek,mt6757-smi-larb";
			reg = <0 0x14027000 0 0x1000>;
			clocks = <&mmsys CLK_MM_SMI_COMMON>, <&mmsys CLK_MM_SMI_LARB4>;
			clock-names = "apb", "smi";
			mediatek,smi = <&smi_common>;
			mediatek,larb-id = <4>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
		};

		smi_common: smi@14028000 {
			compatible = "mediatek,mt6757-smi-common";
			reg = <0 0x14028000 0 0x1000>;
			power-domains = <&spm MT6757_POWER_DOMAIN_DISP>;
			clocks = <&mmsys CLK_MM_SMI_COMMON>, <&mmsys CLK_MM_SMI_LARB0>;
			clock-names = "apb", "smi";
		};

		imgsys: clock-controller@15020000 {
			compatible = "mediatek,mt6757-imgsys", "syscon";
			reg = <0 0x15020000 0 0x1000>;
			#clock-cells = <1>;
		};

		larb5: larb@15021000 {
			compatible = "mediatek,mt6757-smi-larb";
			reg = <0 0x15021000 0 0x1000>;
			clocks = <&imgsys CLK_IMG_SMI_LARB5>, <&imgsys CLK_IMG_SMI_LARB5>;
			clock-names = "apb", "smi";
			mediatek,smi = <&smi_common>;
			mediatek,larb-id = <5>;
			power-domains = <&spm MT6757_POWER_DOMAIN_ISP>;
		};

		vdecsys: clock-controller@16000000 {
			compatible = "mediatek,mt6757-vdecsys", "syscon";
			reg = <0 0x16000000 0 0x1000>;
			#clock-cells = <1>;
			#reset-cells = <1>;
		};

		larb1: larb@16010000 {
			compatible = "mediatek,mt6757-smi-larb";
			reg = <0 0x16010000 0 0x10000>;
			clocks = <&vdecsys CLK_VDEC_VDEC>, <&vdecsys CLK_VDEC_SMI_LARB1>;
			clock-names = "apb", "smi";
			mediatek,smi = <&smi_common>;
			mediatek,larb-id = <1>;
			power-domains = <&spm MT6757_POWER_DOMAIN_VDE>;
		};

		vencsys: clock-controller@17000000 {
			compatible = "mediatek,mt6757-vencsys", "syscon";
			reg = <0 0x17000000 0 0x1000>;
			#clock-cells = <1>;
		};

		larb3: larb@17001000 {
			compatible = "mediatek,mt6757-smi-larb";
			reg = <0 0x17001000 0 0x1000>;
			clocks = <&vdecsys CLK_VENC_VENC>, <&vdecsys CLK_VENC_SMI_LARB3>;
			clock-names = "apb", "smi";
			mediatek,smi = <&smi_common>;
			mediatek,larb-id = <3>;
			power-domains = <&spm MT6757_POWER_DOMAIN_VEN>;
		};

		camsys: clock-controller@1a000000  {
			compatible = "mediatek,mt6757-camsys", "syscon";
			reg = <0 0x1a000000 0 0x1000>;
			#clock-cells = <1>;
		};

		larb2: larb@1a001000 {
			compatible = "mediatek,mt6757-smi-larb";
			reg = <0 0x1a001000 0 0x1000>;
			clocks = <&camsys CLK_CAM_CAM>, <&camsys CLK_CAM_SMI_LARB2>;
			clock-names = "apb", "smi";
			mediatek,smi = <&smi_common>;
			mediatek,larb-id = <2>;
			power-domains = <&spm MT6757_POWER_DOMAIN_CAM>;
		};
	};
};
