// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Copyright (c) 2025-2026 Ben Grisdale <bengris32@protonmail.ch>
 */

#include "mt8163.dtsi"
#include "mt6323.dtsi"

/ {
	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:921600n8";
	};

	memory {
		device_type = "memory";
		reg = <0 0x40000000 0 0x20000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* 128 KiB reserved for ARM Trusted Firmware (BL31) */
		bl31_secmon_reserved: secmon@43000000 {
			reg = <0 0x43000000 0 0x30000>;
			no-map;
		};
	};

	vgpu_1v15: regulator-vgpu {
		compatible = "regulator-fixed";
		regulator-name = "vgpu_1v15";
		regulator-min-microvolt = <1150000>;
		regulator-max-microvolt = <1150000>;
		regulator-boot-on;
		regulator-always-on;
	};
};

&cpu0 {
	proc-supply = <&sym827_vproc>;
};

&cpu1 {
	proc-supply = <&sym827_vproc>;
};

&cpu2 {
	proc-supply = <&sym827_vproc>;
};

&cpu3 {
	proc-supply = <&sym827_vproc>;
};

&gpu {
	status = "okay";
	mali-supply = <&vgpu_1v15>;
};

&i2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_default>;
	status = "okay";

	sym827_vproc: regulator@60 {
		compatible = "silergy,sym827";
		reg = <0x60>;
		fcs,suspend-voltage-selector = <1>;
		regulator-name = "sym827-vproc";
		regulator-min-microvolt = <600000>;
		regulator-max-microvolt = <1387500>;
		regulator-enable-ramp-delay = <400>;
		regulator-ramp-delay = <8000>;
		regulator-always-on;
	};
};

&mt6323_vproc_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6323_vsys_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6323_vm_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6323_vrtc_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mt6323_vtcxo_reg {
	regulator-always-on;
	regulator-boot-on;
};

&mmc0 {
	pinctrl-names = "default", "state_uhs";
	pinctrl-0 = <&mmc0_pins_default>;
	pinctrl-1 = <&mmc0_pins_uhs>;
	status = "okay";
	bus-width = <8>;
	mediatek,latch-ck = <1>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	cap-mmc-hw-reset;
	vmmc-supply = <&mt6323_vemc3v3_reg>;
	vqmmc-supply = <&mt6323_vio18_reg>;
	assigned-clocks = <&topckgen CLK_TOP_MSDC30_0_SEL>;
	assigned-clock-parents = <&topckgen CLK_TOP_MSDCPLL_D2>;
	non-removable;
};

&pmic {
	interrupts-extended = <&pio 24 IRQ_TYPE_LEVEL_HIGH>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pins_default>;
	status = "okay";
};

&pio {
	i2c1_pins_default: i2c1-pins {
		pins {
			pinmux = <MT8163_PIN_57_SDA1__FUNC_SDA1_0>,
				 <MT8163_PIN_58_SCL1__FUNC_SCL1_0>;
			bias-disable;
		};
	};

	mmc0_pins_default: emmc-sdr-pins {
		pins_cmd_dat {
			pinmux = <MT8163_PIN_137_MSDC0_DAT0__FUNC_MSDC0_DAT0>,
				 <MT8163_PIN_136_MSDC0_DAT1__FUNC_MSDC0_DAT1>,
				 <MT8163_PIN_135_MSDC0_DAT2__FUNC_MSDC0_DAT2>,
				 <MT8163_PIN_134_MSDC0_DAT3__FUNC_MSDC0_DAT3>,
				 <MT8163_PIN_130_MSDC0_DAT4__FUNC_MSDC0_DAT4>,
				 <MT8163_PIN_129_MSDC0_DAT5__FUNC_MSDC0_DAT5>,
				 <MT8163_PIN_128_MSDC0_DAT6__FUNC_MSDC0_DAT6>,
				 <MT8163_PIN_127_MSDC0_DAT7__FUNC_MSDC0_DAT7>,
				 <MT8163_PIN_132_MSDC0_CMD__FUNC_MSDC0_CMD>;
			input-enable;
			bias-pull-up;
		};

		pins_clk {
			pinmux = <MT8163_PIN_133_MSDC0_CLK__FUNC_MSDC0_CLK>;
			bias-pull-down;
		};

		pins_rst {
			pinmux = <MT8163_PIN_131_MSDC0_RSTB__FUNC_MSDC0_RSTB>;
			bias-pull-up;
		};
	};

	mmc0_pins_uhs: emmc-uhs-pins {
		pins_cmd_dat {
			pinmux = <MT8163_PIN_137_MSDC0_DAT0__FUNC_MSDC0_DAT0>,
				 <MT8163_PIN_136_MSDC0_DAT1__FUNC_MSDC0_DAT1>,
				 <MT8163_PIN_135_MSDC0_DAT2__FUNC_MSDC0_DAT2>,
				 <MT8163_PIN_134_MSDC0_DAT3__FUNC_MSDC0_DAT3>,
				 <MT8163_PIN_130_MSDC0_DAT4__FUNC_MSDC0_DAT4>,
				 <MT8163_PIN_129_MSDC0_DAT5__FUNC_MSDC0_DAT5>,
				 <MT8163_PIN_128_MSDC0_DAT6__FUNC_MSDC0_DAT6>,
				 <MT8163_PIN_127_MSDC0_DAT7__FUNC_MSDC0_DAT7>,
				 <MT8163_PIN_132_MSDC0_CMD__FUNC_MSDC0_CMD>;
			input-enable;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-up = <MTK_PUPD_SET_R1R0_01>;
		};

		pins_clk {
			pinmux = <MT8163_PIN_133_MSDC0_CLK__FUNC_MSDC0_CLK>;
			drive-strength = <MTK_DRIVE_6mA>;
			bias-pull-down = <MTK_PUPD_SET_R1R0_01>;
		};

		pins_rst {
			pinmux = <MT8163_PIN_131_MSDC0_RSTB__FUNC_MSDC0_RSTB>;
			bias-pull-up;
		};
	};

	uart0_pins_default: uart0-pins {
		pins {
			pinmux = <MT8163_PIN_79_URXD0__FUNC_URXD0>,
				 <MT8163_PIN_80_UTXD0__FUNC_UTXD0>;
		};
	};
};
