// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Copyright (c) 2025-2026 Ben Grisdale <bengris32@protonmail.ch>
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include "mt8163-amazon-common.dtsi"

/ {
	model = "Amazon Echo Spot (2017)";
	compatible = "amazon,rook", "mediatek,mt8163";
	chassis-type = "embedded";

	/* Needed by stock bootloader */
	version = "evt";

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_pins>;

		key-volume-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&pio 37 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
		};

		key-volume-down {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&pio 50 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
		};
	};

	disp_v1p8: regulator-disp-v1p8 {
		compatible = "regulator-fixed";
		pinctrl-0 = <&disp_v1p8_pins_default>;
		pinctrl-names = "default";
		regulator-name = "disp-v1p8";
		regulator-boot-on;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&pio 85 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	disp_v3p3: regulator-disp-v3p3 {
		compatible = "regulator-fixed";
		pinctrl-0 = <&disp_v3p3_pins_default>;
		pinctrl-names = "default";
		regulator-name = "disp-v3p3";
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&pio 125 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	rfkill {
		compatible = "rfkill-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_pwr_pins>;
		label = "rfkill-usb-wlan";
		radio-type = "wlan";
		shutdown-gpios = <&pio 27 GPIO_ACTIVE_HIGH>;
	};
};

&dsi {
	/delete-property/ resets;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	panel: panel@0 {
		compatible = "amazon,rook-hx8379c";
		reg = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&lcm_pins_default>;

		backlight = <&disp_backlight>;

		id0-gpios = <&pio 32 GPIO_ACTIVE_HIGH>;
		id1-gpios = <&pio 44 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pio 83 GPIO_ACTIVE_LOW>;

		vcn-supply = <&mt6323_vcn33_wifi_reg>;
		vmch-supply = <&mt6323_vmch_reg>;
		v1p8-supply = <&disp_v1p8>;
		v3p3-supply = <&disp_v3p3>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port {
			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

&i2c0 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins_default>;
	status = "okay";

	touchscreen@5d {
		compatible = "goodix,gt5688";
		reg = <0x5d>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_pins>;
		interrupt-parent = <&pio>;
		interrupts = <17 IRQ_TYPE_EDGE_RISING>;
		reset-gpios = <&pio 89 GPIO_ACTIVE_HIGH>;
		irq-gpios = <&pio 49 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <480>;
		touchscreen-size-y = <480>;
		AVDD28-supply = <&mt6323_vibr_reg>;
	};
};

&mipi_tx0 {
	/delete-property/ resets;
	status = "okay";
};

&mt6323_vcn33_wifi_reg {
	regulator-boot-on;
};

&mt6323_vibr_reg {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&mt6323_vmch_reg {
	regulator-boot-on;
};

&mt6323_vusb_reg {
	regulator-always-on;
};

&u2phy0 {
	status = "okay";
};

&usb0 {
	/* No 5V supply for OTG support. */
	dr_mode = "peripheral";
	status = "okay";
};

&usb1 {
	/* For internal Wi-Fi adapter */
	dr_mode = "host";
	status = "okay";
};

&pio {
	gpio_keys_pins: gpio-keys-pins {
		pins {
			pinmux = <MT8163_PIN_37_KPCOL1__FUNC_GPIO37>,
				 <MT8163_PIN_50_EINT18__FUNC_GPIO50>;
			bias-pull-up;
			input-enable;
		};
	};

	i2c0_pins_default: i2c0-pins {
		pins {
			pinmux = <MT8163_PIN_75_SDA0__FUNC_SDA0_0>,
				 <MT8163_PIN_76_SCL0__FUNC_SCL0_0>;
			bias-disable;
		};
	};

	disp_v1p8_pins_default: disp-v1p8-pins {
		pins {
			pinmux = <MT8163_PIN_85_MSDC2_CMD__FUNC_GPIO85>;
		};
	};

	disp_v3p3_pins_default: disp-v3p3-pins {
		pins {
			pinmux = <MT8163_PIN_125_MSDC1_DAT2__FUNC_GPIO125>;
		};
	};

	lcm_pins_default: lcm-pins {
		pins-id {
			pinmux = <MT8163_PIN_32_EINT10__FUNC_GPIO32>,
				 <MT8163_PIN_44_EINT12__FUNC_GPIO44>;
			input-enable;
		};

		pins-reset {
			pinmux = <MT8163_PIN_83_LCM_RST__FUNC_GPIO83>;
		};
	};

	touch_pins: touch-pins {
		pins-irq {
			pinmux = <MT8163_PIN_49_EINT17__FUNC_GPIO49>;
			bias-pull-up;
			input-enable;
		};

		pins-rst {
			pinmux = <MT8163_PIN_89_MSDC2_DAT2__FUNC_GPIO89>;
			output-high;
		};
	};

	wifi_pwr_pins: wifi-pwr-pins {
		pins {
			pinmux = <MT8163_PIN_27_EINT5__FUNC_GPIO27>;
		};
	};
};
