// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (c) 2025-2026 Ben Grisdale <bengris32@protonmail.ch>
 * Copyright (c) 2025 Jack Matthews <jack@jackmatthe.ws>
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include "mt8163-amazon.dtsi"

/ {
	model = "Amazon Echo Show 8 (2019)";
	compatible = "amazon,crown", "mediatek,mt8163";
	chassis-type = "embedded";

	/* Needed by stock bootloader */
	version = "pvt";

	simple-framebuffer-params {
		compatible = "simple-framebuffer-params";
		width = <800>;
		height = <1280>;
		stride = <(800 * 4)>; /* 4 bytes per pixel */
		format = "a8b8g8r8";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&gpio_keys_pins>;

		key-volume-up {
			label = "Volume Up";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&pio 36 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
		};

		key-volume-down {
			label = "Volume Down";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&pio 37 GPIO_ACTIVE_LOW>;
			debounce-interval = <20>;
		};

		switch-camera-lens-cover {
			label = "Camera Lens Cover";
			linux,input-type = <EV_SW>;
			linux,code = <SW_CAMERA_LENS_COVER>;
			gpios = <&pio 142 GPIO_ACTIVE_LOW>;
		};
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2_pins_default>;
	status = "okay";

	touchscreen@38 {
		compatible = "edt,edt-ft5406";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&touch_pins_default>;
		interrupt-parent = <&pio>;
		interrupts = <123 IRQ_TYPE_EDGE_FALLING>; /* GPIO E */
		reset-gpios = <&pio 123 GPIO_ACTIVE_LOW>;
		vcc-supply = <&mt6323_vmch_reg>;
		iovcc-supply = <&mt6323_vio18_reg>;
		
		touchscreen-size-x = <1280>;
		touchscreen-size-y = <800>;
		
		/* 
		 * TODO: Remove these cheats when we have panel properly rotated
		 * Crown's true panel orientation is portrait,
		 * while touch is landscape
		*/
		touchscreen-inverted-y;
		touchscreen-swapped-x-y;
	};
};

&mt6323_vusb_reg {
	regulator-always-on;
};

&u2phy0 {
	status = "okay";
};

&usb0 {
	/* No 5V supply for OTG support. */
	dr_mode = "peripheral";
	status = "okay";
};

&pio {
	gpio_keys_pins: gpio-keys-pins {
		pins {
			pinmux = <MT8163_PIN_36_KPCOL0__FUNC_GPIO36>,
				 <MT8163_PIN_37_KPCOL1__FUNC_GPIO37>,
				 <MT8163_PIN_142_EINT21__FUNC_GPIO142>;
			bias-pull-up;
			input-enable;
		};
	};

	i2c2_pins_default: i2c2-pins-default {
		pins {
			pinmux = <MT8163_PIN_77_SDA2__FUNC_SDA2_0>,
				 <MT8163_PIN_78_SCL2__FUNC_SCL2_0>;
			bias-disable;
		};
	};

	touch_pins_default: touch-pins-default {
		pins-irq {
			pinmux = <MT8163_PIN_122_MSDC1_CLK__FUNC_GPIO122>;
			bias-pull-up;
			input-enable;
		};

		pins-rst {
			pinmux = <MT8163_PIN_123_MSDC1_DAT0__FUNC_GPIO123>;
			output-high;
		};
	};

};
