// SPDX-License-Identifier: GPL-2.0-only OR MIT
/*
 * Copyright (c) 2025-2026 Ben Grisdale <bengris32@protonmail.ch>
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>

#include "mt8163-amazon-common.dtsi"

/ {
	model = "Amazon Echo Spot (2017)";
	compatible = "amazon,rook", "mediatek,mt8163";
	chassis-type = "embedded";

	rfkill {
		compatible = "rfkill-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_pwr_pins>;
		label = "rfkill-usb-wlan";
		radio-type = "wlan";
		shutdown-gpios = <&pio 27 GPIO_ACTIVE_HIGH>;
	};
};

&mt6323_vusb_reg {
	regulator-always-on;
};

&u2phy0 {
	status = "okay";
};

&usb0 {
	/* No 5V supply for OTG support. */
	dr_mode = "peripheral";
	status = "okay";
};

&usb1 {
	/* For internal Wi-Fi adapter */
	dr_mode = "host";
	status = "okay";
};

&pio {
	wifi_pwr_pins: wifi-pwr-pins {
		pins {
			pinmux = <MT8163_PIN_27_EINT5__FUNC_GPIO27>;
		};
	};
};
